*{
    margin:0;
    padding:0;

}
body{
   background:url("london.jpg") no-repeat center;
   background-attachment:fixed;
   background-size:cover;
}
.container{
    color:white;
    position:absolute;
    top:30%;
    left:35%;
}
.container h1{
    /* font-family: 'Mukta', sans-serif; */
    font-size:40px;
    border-bottom:6px solid purple;
    margin-bottom:15px;
    padding:14px 0px;
    color:plum;
}
.box{
    width:100%;
}
.box input{
    background:none;
    width:80%;
    margin:1px;
    border:none;
    outline:none;
    font-size:15px;
    padding:4px 7px;
    border-bottom:2px solid purple;
    margin-bottom: 10px;
}
::-webkit-input-placeholder{
    color:green;
}
.box i{
    width:25px;
    text-align:center;
    color:purple
}

.btn{
    cursor:pointer;
    outline :none;
    width:30%;
    margin:12px 0px;
    padding:8px;
    border-radius:10px;
    font-size:10px;
    background:none;
    color:goldenrod;
   
}.btn:hover{
    color:purple; 
    background:goldenrod;
   opacity:0.6;
}