*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    background-color: #ccc;
}
.container{
    max-width:900px;
    margin:0px auto;
}
.apply_box{
    background-color: white;
    max-width: 600px;
    padding:20px;
    margin:0px auto;
     margin-top:50px;
     box-shadow:4px 4px 5px rgba(2,1 ,1, 0.1);
     border-radius:10px;
}
.title_small{
font-size:20px;
}
.form-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-top:20px;
}
.form-group{
    display:flex;
   flex-direction:column;
}
label{
    font-size:15px;
    margin-bottom:5px;
}

input,select,textarea{
    padding:6px 10px;
    border:1px solid grey;
    border-radius:4px;
    font-size:15px;
}
input,textarea,select:focus{
    outline-color:red;
}
.button_container{
    display:flex;
    justify-content: flex-end;
    margin-top:10px;
}
button{
    background-color: red;
    border:transparent 2px solid;
    border-radius:8px;
    padding:5px 10px;
    color:white;
    transition:0.3s ease-in;
}
button:hover{
    background-color: grey;
    border:2px solid red;
    color:black;
    transition:0.3s ease-out;
    cursor:pointer;

}
.text_area{
    grid-column:1 / span 2;
}
.text_area textarea{
    width:100%;
}
@media(max-width:410px)
{
    .text_area{
        grid-column:1 / span 1;
        
    }
}